/* Common */
body{
    margin : 0 auto;
    padding : 0;
  }

.flex--nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex--space-betwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
