.flex--nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex--space-betwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper p {
	color : rgb(154, 154, 154);
}

.card { 
	box-sizing: border-box;
	background-color: #f8f9fa;
	margin: 1rem;
	padding: 2rem;
}
