@media (max-width: 540px) {
  .mobile--hidden{
    display: flex;
    flex-wrap: wrap;
  }  
  .flex--nowrap{
    display: flex;
    flex-wrap: wrap;
  }
  .sosmed__icon {
    display: inline;
  }
  
}

@media only screen and (max-width: 768px    px) {
  
}

@media only screen and (max-width: 992px    px) {
}
