/* Common */
@import "common.css;
@import "screen0.css;
	
body {
	font-family: 'Roboto', sans-serif;
	margin : 0 auto;
	padding : 0;
  }
  

  
  /* Navigation */
  nav{ 
    margin:0; 
  }
  
  .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
  .navbar__aside{
    margin: 0;
    padding: 0;
   background-color: #fbbb08;
  }
  .social__nav{
	  width: 100%;
	  padding: 10px 0;
	  }
  .contact__icon, .sosmed__icon { 
	font-size: 1.2rem; 
	font-weight: 400; 
  }
  .contact__icon img, .sosmed__icon img{
	 width: 1.5rem;
	 height: 100%;
	 padding: 0 .5rem;
  }
  .notelp { 
  }
  .atmail { 
  }
  .navbar__main{
    width: 100%;
    background-color: azure;
    margin: auto;
    box-sizing: border-box;
  }

  .nav__brand { 
    margin: 0;
    padding: 0;
    width: 20%;
  }
  .nav__brand {  
  }
  .nav__brand h2 {margin: 0;
    padding: 0;}
  .nav__brand p {margin: 0;
    padding: 0;}

  .nav__title{}
  .nav__description{}
  
  .navbar__menu{
    background-color: transparent;
  }
  .nav__items{
    list-style: none;;
  }

  .nav__item{
    margin: 10px;
    padding: 5px;
	  text-transform: uppercase;
	  font-weight: 500;
  }
  
.jumbotron {}
.home__hero {
	background-color: yellow;
}
.jumbotron__wrap {}
.image__slider{ 
	width: 100%;
	height: 480px;
}
.image__slider img { 
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home__hero h2 {
	position: absolute;
	top:60%;
}
.home__hero p {
	position: absolute;
	top:70%;
}

 /* Section 1 */
.cendana__cove {
	background-color: rgb(243, 244, 249);
	
}

.cendana__cove .wrapper{
	display: block;
	text-align: center;
	
}
 

.short__profile {
}

.short__profile img {
	width: 20%;
	height: auto;
}


/* SECTION TYPE KAPLING  */

.kapling {
	margin-bottom: 5rem;
}
.view__kapling {
	background-color: #ffffff;
}

.kapling__view {
	display: block;
	margin: 1rem;
	padding: 1rem; 
	
}
.kapling__image {  
	width: 100%;
	max-height: 18rem;
	object-fit:fill;
}
.lokasi {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}
.lokasi__strategis { 
 	margin: 1px;
	padding: 2px; 
 	place-items: center stretch;
} 
.lokasi__peta {
	width: 90%; 
	margin: 0;
	padding: 2px;   
	}
.lokasi__denah { 
	width: 90%; 
	margin: 0;
	padding: 2px;   
}
.lokasi__view{
	object-fit:contain; 
	width:100%;
}


.features {
	background-color: rgb(243, 244, 249);
	width: 100%;
	margin-top: 3rem;
}
.feature__image {  
	width: 100%;
	max-height: 18rem;
	object-fit:fill;
}
.feature__item {
	display: inline-block;
  background: blue;
  padding: 0.5rem;
  margin: 0.2rem;
  flex-grow: 1;
  width: 20%;
  text-align: center;
}

#diamond {
	padding: 5rem 0;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

/* SECTION BOX */
.box__item{ 
	margin: 2rem 0;}
.box__row{
	width: 100%;
}
.box__left{}
.box__right{}
.box__side{}
.box__content{ 	
	border-radius: .25rem;
	box-sizing: border-box;
	background-color: transparent;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.box__title{
	font-size: 3rem;
	font-weight: 500;
}
.box__image{
	width: 90%;
	height: auto;
	object-fit: contain;
}
.box__fitur{}
.box__listing{}
.box__list{
	list-style: none;
	margin: 1rem;
	padding: 1rem 2rem;
	background-color: #DAA520;
}



/* FOOTER */
.footer__top{
	background-color: #fbf404;
}
.footer__bottom{
	background-color: #411d06;
	margin:1rem 0;
	padding: 3rem 0;
}
.footer__column{}


