/* Common */
body{
  margin : 0 auto;
  padding : o;
}


/* Navigation */
nav{}

.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
.navbar__aside{
  margin: 0;
  padding: 10px;
 background-color: #ff0;
}
.social__nav{}
.social__nav__btn{}

.navbar__main{}
.nav__brand{}
.nav__logo{}
.nav__description{}

.navbar__menu{}
.nav__items{}
.nav__item{}
