
  /* Navigation */
  nav{ 
    margin:0; 
  }
  
  .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
  .navbar__aside{
    margin: 0;
    padding: 10px;
   background-color: #d60000;
  }
  .social__nav{width: 100%;}
  .social__nav__icon{ 
  }
  .notelp {
    font-size: 24px;
    line-height: normal;
  }
  .atmail {
    font-size: 24px;
    line-height: normal;
  }
  .navbar__main{
    width: 100%;
    background-color: azure;
  }

  .nav__brand { 
    margin: 0;
    padding: 0;
    width: 20%;
  }
  .nav__brand img{ 
    width: 90%;
  height: auto;
  }
  .nav__brand h2 {margin: 0;
    padding: 0;}
  .nav__brand p {margin: 0;
    padding: 0;}

  .nav__title{}
  .nav__description{}
  
  .navbar__menu{

  }
  .nav__items{
    list-style: none;
  }
  .nav__item{
    margin: 10px;
    padding: 5px;
    border
  }
  
